@font-face {
  font-family: futura;
  src: url(/assets/fonts/futura\ light\ bt.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}
.margin {
  margin: 0 60px 0 70px;
}
* {
  margin: 0;
  font-family: futura;
}
/* .start-page img {
  filter: brightness(60%);
  filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.start-page .name,
.start-page .sw-engr,
.start-page .enter,
.start-page .links {
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.start-page {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.name h1 {
  font-family: serif;
  font-weight: bold;
  font-size: 130px;
  padding: 8% 11% 0 11%;
  color: #585858;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}
.sw-engr h2 {
  font-size: 25px;
  padding-bottom: 25px;
  color: #9a9a9a;
} */
.enter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.enter button {
  padding: 15px 40px;
  text-decoration: none;
  background: #80808073;
  animation: wiggle 2s linear infinite;
  color: #a4a4a4;
  border: none;
  font-size: 20px;
}
/* .links {
  font-size: 30px;
}
.links i {
  padding: 8px 10px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
} */

.circle {
  height: 8px;
  width: 8px;
  background-color: #808080;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  /* .name h1 {
    font-size: 70px;
    align-items: center;
    margin-top: 120px;
  }
  .links {
    padding-top: 20vh;
  }
  .links i {
    padding: 2px;
    margin: 0;
  }
  .sw-engr h2 {
    font-size: 15px;
  } */

}

.home-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 118px;
}
.starting-email {
  text-align: end;
}
.starting-email a{
  text-decoration: none;
  color: #fff;
  padding-right: 20px;
  padding-top: 20px;
}
.starting-heading h1{
  font-size: 100px;
  padding-left: 20px;
  color: #fff;
}
.starting-heading span{
  font-size: 20px;
  font-weight: 100;
}
@media (max-width : 768px){
  .home-container{
    gap: 180px ;
  }
  .starting-heading span{
    display: flex;
  }
  .starting-heading h1{
    font-size: 75px;
  }
  .enter a {
    padding: 10px 30px;
    font-size: 16px;
  }
  .circle {
    display: none;
  }
}

/* homepage.html */
.top-section {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}
.top-section .logo img {
  width: 250px;
  padding: 8px 16px;
}
.navicon {
  display: none;
}
.nav-items ul li {
  display: inline-block;
  padding: 0 40px;
  justify-content: space-between;
}
.nav-items ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #808080;
}
.nav-items ul li a:hover {
  color: #3c3c3c;
}
.container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 150px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  opacity: 1;
  border: 1px solid #808080;
  transition: opacity 0.1s ease-in-out;
}
.picture img {
  margin-top: 70px;
  height: 250vh;
  width: 100%;
  background-size: cover;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.bottom-section {
  margin: 0 30px 0 30px;
  height: 20vh;
  text-align: center;
  padding-top: 15%;
}
.bottom-section a {
  color: #808080;
  margin: 0;
}
.fa-brands,
.fa-solid {
  margin: 8px;
}
footer p {
  font-size: 12px;
  color: #808080;
  margin: 35px 0 10px 10px;
}

@media (max-width: 768px) {
  .margin {
    margin: 0;
  }
  .top-section .logo img {
    padding: 8px 0 0 0;
  }
  .top-section {
    width: 100%;
    margin: 0;
  }
  footer {
    display: none;
  }
  .navicon {
    display: block;
    margin: 0;
  }
  .margin {
    margin: 10px;
  }
  .top-section {
    flex-direction: column;
  }
  .top-section ul {
    padding: 0;
  }
  .top-section ul li {
    padding: 0 5px;
  }
  .top-section ul li a {
    font-size: 12px;
  }
  .nav-items {
    width: 100%;
    text-align: center;
  }
  .overlay-text {
    font-size: 30px;
  }

  .picture img {
    align-items: center;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* about.html */
.about-content-left {
  margin: 40px 40px 40px 0;
  width: 55vw;
}
.about-content-right {
  width: 45vw;
}
.about-content {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
.about-content-right img {
  width: 100%;
  height: 160vh;
  object-fit: cover;
  filter: blur(1px);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.login-box {
  background-color: #e4e4e499;
  border-radius: 5px;
  margin-bottom: 70px;
  padding: 80px;
  text-align: center;
}
.login-box h3 {
  font-size: 30px;
  padding-bottom: 20px;
}
.login-box p {
  text-align: center;
  padding-bottom: 20px;
}
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #808080;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #808080;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #808080;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #808080;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #808080;
  border: none;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #808088;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #808080, 0 0 25px #808080, 0 0 50px #808080,
    0 0 100px #808080;
}

.login-box button span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}
.content-two h3 {
  color: #9e9e9e;
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 20px;
}
.content-two p {
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 768px) {
  .about-content-left {
    width: 100%;
    margin: 0;
  }
  .about-content-right {
    width: 100%;
    margin-top: 20px;
  }
  .about-content {
    flex-direction: column;
  }
  .input {
    padding: 10px 0 20px 0;
    background-color: #e4e4e499;
    display: flex;
  }

  .content-one {
    padding: 0 0 20px 0;
  }
  .content-one textarea,
  .content-one input {
    width: 100%;
  }
  .about-content-right img {
    height: 500px;
    filter: blur(2px);
  }
}

/* blogs.html */
.blog {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.blog-left {
  width: 56vw;
}
.blog-left h2 {
  color: #808080;
  font-size: 30px;
}
.blog-left h3 {
  color: #808080;
}
.blog-left p,
.blog-left ul li {
  font-size: 18px;
  line-height: 35px;
  padding-top: 20px;
}
.blog-left img {
  width: 200px;
}
.blog-right {
  width: 28vw;
}
.blog-right img {
  width: 28vw;
  height: 300px;
  object-fit: cover;
  object-position: top;
  margin: 12px 0 35px 0;
}
.blog-right h1 {
  color: #808080;
}
.blog-right a {
  color: #808080;
  font-size: 20px;
}
.blog-right a:hover {
  color: #000;
}
@media (max-width: 768px) {
  .blog-right {
    display: none;
  }
  .blog-left {
    width: 100%;
    margin: 0;
  }
  .blog-left h1 {
    color: #000;
  }
}

.resume-top {
  display: flex;
  padding: 120px 180px;
  align-items: center;
}
.resume-top-left img {
  width: 300px;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}
.resume-top-right {
  margin-right: 25px;
}
.resume-top-right h4 {
  color: #808080;
}
.resume-top-right h1 {
  font-size: 40px;
  padding-bottom: 15px;
}
.resume-top-right p {
  font-size: 18px;
}
.resume-top-right button {
  margin-top: 20px;
  padding: 12px 25px;
  border: 1px solid #9a9a9a;
  border-radius: 50px;
  margin-right: 15px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.resume-top-right button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}
.resume-bottom {
  background-color: #0c6aa04c;
  padding: 40px;
  border-radius: 10px;
}
.resume-bottom h2 {
  font-size: 40px;
  margin-bottom: 40px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
}
.resume-content {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}
.resume-content h3 {
  font-size: 25px;
  color: #000;
}
.resume-content i {
  width: 60px;
  margin-right: 10px;
}
.resume-content-img i {
  color: #1a6b9b;
}
@media (max-width: 768px) {
  .resume-top {
    padding: 80px 0;
    flex-direction: column-reverse;
  }
  .resume-top-right {
    padding-top: 40px;
  }
  .resume-content-content h3 {
    font-size: 20px;
  }
  .resume-bottom h2 {
    color: #000;
  }
  .resume-bottom {
    padding: 10px;
  }
}
